<br>
<br>
<br>
<button (click)="modal.open()">
  welcome
</button>
<app-modal #modal>
  <h1 class="title">My Modal Title</h1>
  <h3 class="content">
    This is the content of my modal, you can change the text here and add your content :) This is the content of my modal, you
    can change the text here and add your content :) This is the content of my modal, you can change the text here and add
    your content :) This is the content of my modal, you can change the text here and add your content :) This is the content
    of my modal, you can change the text here and add your content :) This is the content of my modal, you can change the
    text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
    you can change the text here and add your content :) This is the content of my modal, you can change the text here and
    add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
    content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
    the text here and add your content :) This is the content of my modal, you can change the text here and add your content
    :)


  </h3>
</app-modal>

<h1>
  This is the content of my modal, you can change the text here and add your content :) This is the content of my modal, you
  can change the text here and add your content :) This is the content of my modal, you can change the text here and add
  your content :) This is the content of my modal, you can change the text here and add your content :) This is the content
  of my modal, you can change the text here and add your content :) This is the content of my modal, you can change the
  text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :)

  This is the content of my modal, you can change the text here and add your content :) This is the content of my modal, you
  can change the text here and add your content :) This is the content of my modal, you can change the text here and add
  your content :) This is the content of my modal, you can change the text here and add your content :) This is the content
  of my modal, you can change the text here and add your content :) This is the content of my modal, you can change the
  text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :)

  This is the content of my modal, you can change the text here and add your content :) This is the content of my modal, you
  can change the text here and add your content :) This is the content of my modal, you can change the text here and add
  your content :) This is the content of my modal, you can change the text here and add your content :) This is the content
  of my modal, you can change the text here and add your content :) This is the content of my modal, you can change the
  text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :)

  This is the content of my modal, you can change the text here and add your content :) This is the content of my modal, you
  can change the text here and add your content :) This is the content of my modal, you can change the text here and add
  your content :) This is the content of my modal, you can change the text here and add your content :) This is the content
  of my modal, you can change the text here and add your content :) This is the content of my modal, you can change the
  text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :) This is the content of my modal, you can change the text here and add your content :) This is the content of my modal,
  you can change the text here and add your content :) This is the content of my modal, you can change the text here and
  add your content :) This is the content of my modal, you can change the text here and add your content :) This is the
  content of my modal, you can change the text here and add your content :) This is the content of my modal, you can change
  the text here and add your content :) This is the content of my modal, you can change the text here and add your content
  :)

</h1>